/***** common header & footer *****/
html{
    scroll-behavior: smooth;
}

body{
  background-color: lightgray;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Sue Ellen Francisco', cursive;
}

h1{
  font-size: 36px;
  line-height: 1;
  padding: 60px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  display: flex;
  flex-direction: column;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav{
  background-color: #ddd;
  padding: 25px 0;    
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

header p{
  color: rgb(65, 52, 34);
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
  line-height: 38px;
}

footer{
  background-color: rgb(65, 52, 34);
  color: white;
  padding-top: 30px;
  text-align: center;
}

nav a{
  color: rgb(65, 52, 34);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  /* Requirement 3a code here*/
  position: absolute;
  top: -40px;
}

.skip a:focus{
  position: absolute;
  top: 0px;
}


/*main page style*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-rows: repeat(11, auto);
  grid-row-gap: 5px;
}
header{
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  color: rgb(65, 52, 34);
  min-height: 500px;
  width: auto;
  margin-bottom: 72px;

  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
}


.mint-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 2 / span 1;
}
.mint-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.mint{
 grid-column: 3 / span 1;
 grid-row: 3 / span 1;
}
.rosemary-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 4 / span 1;
}
.rosemary-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.rosemary{
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}
.parsley-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 6 / span 1;
}
.parsley-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.parsley{
  grid-column: 3 / span 1;
  grid-row: 7 / span 1;
}
.sage-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 8 / span 1;
}
.sage-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.sage{
  grid-column: 3 / span 1;
  grid-row: 9 / span 1;
}
.gallery{  
  background-color: rgb(70, 134, 81);
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  background-image: url("../images/gallery2.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;   
  min-height: 300px;
  width: auto;
  grid-column: 1 / -1;
  grid-row: 10 / span 1;
}
.gallery h2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 36px;
  font-weight: 50;
  padding: 60px;
}
.gallery-button{
  background-color: rgba(255,255,255, 0.6);
  border-radius: 3px;
  padding: 15px;
  margin: auto;
  text-align: center;
  max-width: 100px;
}
.gallery-button a{
  color: rgb(65, 52, 34);
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.block{
  padding-bottom: 72px;
}
.block-text{
  color: rgb(65, 52, 34);
  padding: 15px;
  align-self: center;
  text-align: center;
}
.block-button{
  background-color: rgb(238, 236, 232);
  border: 2px solid rgb(65, 52, 34);
  border-radius: 3px;
  padding: 7px;
  align-self: center;
  text-align: center;
}
.block-button a{
  color: rgb(65, 52, 34);
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}



/*herb page style*/
.container-herb{
  display: grid;
  grid-template-columns: 2fr 1fr 10fr 1fr 2fr;
  grid-template-rows: repeat(10, auto);
  grid-row-gap: 5px;
}
.curr-page{
  text-decoration: underline green solid 2px;
  color: green;
}
.herb-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 2 / span 1;
  margin-bottom: 15px;
}
.herb-image img{
  height: auto;
  width: 100%;
  object-fit: scale-down;
  object-position: right;
}
.description{
grid-column: 3 / -3;
grid-row: 3 / span 1;
margin-bottom: 30px;
text-indent: 15px;
line-height: 22px;
font-family: 'Patrick Hand', cursive;
color: rgb(65, 52, 34);
}
.icon-topic{
  display: inline;
  color: rgb(65, 52, 34);
}
.icon-topic i{
  vertical-align: middle;
  line-height: 35px;
}
.icon-topic span{
  font-size: 25px;
  font-weight: bold;
}
.guideline{
  margin-bottom: 45px;
}
.guideline p{
  margin-top: 15px;
  font-size: 18px;
  font-family: 'Patrick Hand', cursive;
  color: rgb(65, 52, 34);
}
#sun{
  grid-column: 3 / -3;
  grid-row: 4 / span 1;
  align-self: center;
  text-align: center;
}
#water{
  grid-column: 3 / -3;
  grid-row: 5 / span 1;
  align-self: center;
  text-align: center;
}
#spread{
  grid-column: 3 / -3;
  grid-row: 6 / span 1;
  align-self: center;
  text-align: center;
}
#height{
  grid-column: 3 / -3;
  grid-row: 7 / span 1;
  align-self: center;
  text-align: center;
}
#lifespan{
  grid-column: 3 / -3;
  grid-row: 8 / span 1;
  align-self: center;
  text-align: center;
}
.bulletin{
  font-family: 'Patrick Hand', cursive;
  font-size: 15px;
  line-height: 20px;
  color: rgb(65, 52, 34);
  padding-bottom: 20px;
}
.bulletin h2 {
  font-family: 'Sue Ellen Francisco', cursive;
  padding-bottom: 10px;
}
.tip{
  grid-column: 2 / -2;
  grid-row: 9 / span 1;
}
.recipe{
  grid-column: 2 / -2;
  grid-row: 10 / span 1;
}
.recipe-image{
  grid-column: 2 / -2;
  overflow: hidden;
  margin-bottom: 15px;
}
.recipe-image img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

/* gallery page style */
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


@media screen and (min-width: 600px){
  /* main page */
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav li{
    display: inline;
  }
  nav{
    background-color: #ddd; 
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(11, auto);
    grid-row-gap: 5px;
  }
  .mint-image{
    grid-column: 2 / span 3;
    overflow: hidden;
    grid-row: 2 / span 1;
  }
  .mint{
   grid-column: 3 / span 1;
   grid-row: 3 / span 1;
  }
  .rosemary-image{
    grid-column: 6 / span 3;
    overflow: hidden;
    grid-row: 2 / span 1;
  }
  .rosemary{
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
  }
  .parsley-image{
    grid-column: 2 / span 3;
    overflow: hidden;
    grid-row: 4 / span 1;
  }
  .parsley{
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
  }
  .sage-image{
    grid-column: 6 / span 3;
    overflow: hidden;
    grid-row: 4 / span 1;
  }
  .sage{
    grid-column: 7 / span 1;
    grid-row: 5 / span 1;
  }
  .mint-image img{
    width: 100%;
    height: auto;
  }
  .parsley-image img{
    width: 100%;
    height: auto;
  }
  .rosemary-image img{
    width: 100%;
    height: auto;
  }
  .sage-image img{
    width: 100%;
    height: auto;
  }

  /* herb page */
  .container-herb{
    display: grid;
    grid-template-columns: 2fr 1fr 5fr 5fr 1fr 2fr;
    grid-template-rows: repeat(8, auto);
    grid-row-gap: 5px;
  }
  #sun{
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    align-self: center;
    text-align: center;
  }
  #water{
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
    align-self: center;
    text-align: center;
  }
  #spread{
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
    align-self: center;
    text-align: center;
  }
  #height{
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
    align-self: center;
    text-align: center;
  }
  #lifespan{
    grid-column: 3 / span 1;
    grid-row: 6 / span 1;
    align-self: center;
    text-align: center;
  }
  .tip{
    grid-column: 2 / -2;
    grid-row: 7 / span 1;
  }
  .recipe{
    grid-column: 2 / -2;
    grid-row: 8 / span 1;
  }


}


/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
@media screen and (prefers-reduced-motion: reduce){
  /*Turn off scroll*/
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  /*Turn off transition*/
  .skip a{
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }

  /*Turn off parallax*/
  header{
    background-attachment: initial;
  }
}
