/***** common header & footer *****/
html{
    scroll-behavior: smooth;
}

body{
  background-color: lightgray;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: 'Sue Ellen Francisco', cursive;
}

h1{
  font-size: 36px;
  line-height: 1;
  padding: 60px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

a {
  color:rgb(65, 52, 34);
}

nav ul{
  display: flex;
  flex-direction: column;
}

nav li{
  display: inline;
  padding-right: 20px;
}

nav{
  background-color: #ddd;
  padding: 25px 0;    
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

header p{
  color: rgb(65, 52, 34);
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
  line-height: 38px;
}

footer{
  background-color: rgb(65, 52, 34);
  color: white;
  padding-top: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

nav a{
  color: rgb(65, 52, 34);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;

  /* Requirement 3a code here*/
  position: absolute;
  top: -40px;
}

.skip a:focus{
  position: absolute;
  top: 0px;
}


/*main page style*/
.container{
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-rows: repeat(11, auto);
  grid-row-gap: 5px;
}
header{
  background-attachment: scroll; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  color: rgb(65, 52, 34);
  min-height: 500px;
  width: auto;
  margin-bottom: 72px;

  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
}


.mint-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 2 / span 1;
}
.mint-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.mint{
 grid-column: 3 / span 1;
 grid-row: 3 / span 1;
}
.rosemary-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 4 / span 1;
}
.rosemary-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.rosemary{
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}
.parsley-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 6 / span 1;
}
.parsley-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.parsley{
  grid-column: 3 / span 1;
  grid-row: 7 / span 1;
}
.sage-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 8 / span 1;
}
.sage-image img{
  height: 250px;
  width: auto;
  object-fit: scale-down;
  object-position: right;
}
.sage{
  grid-column: 3 / span 1;
  grid-row: 9 / span 1;
}
.gallery{  
  background-color: rgb(70, 134, 81);
  background-attachment: fixed; /* Parallax effect */
  background-position: center; /* Parallax effect */
  background-size: cover; /* Parallax effect */
  background-image: url("../images/gallery2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  width: auto;
  grid-column: 1 / -1;
  grid-row: 10 / span 1;
}
.gallery h2{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 36px;
  font-weight: 50;
  padding: 60px;
}
.gallery-button{
  background-color: rgba(255,255,255, 0.3);
  border-radius: 3px;
  padding: 15px;
  margin: auto;
  text-align: center;
  max-width: 100px;
  transition: background-color 1s;
}
.gallery-button:hover {
  background-color: rgb(65, 52, 34);
  cursor: pointer;
}
.gallery-button a{
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.block{
  padding-bottom: 72px;
}
.block-text{
  color: rgb(65, 52, 34);
  padding: 15px;
  align-self: center;
  text-align: center;
}
.block-button{
  background-color: rgb(238, 236, 232);
  border: 2px solid rgb(65, 52, 34);
  border-radius: 3px;
  padding: 7px;
  align-self: center;
  text-align: center;
}
.block-button a{
  color: rgb(65, 52, 34);
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.block-button:hover{
  animation: change-color 1s;
  animation-fill-mode: forwards;
}
@keyframes change-color{
  0%{
    background-color: rgb(238, 236, 232);
    color: rgb(65, 52, 34);
  }
  100%{
    background-color: rgb(146, 120, 84);
    color: rgb(238, 236, 232);
  }
}


/*herb page style*/
.container-herb{
  display: grid;
  grid-template-columns: 1fr 1fr 10fr 1fr 1fr;
  grid-template-rows: repeat(6, auto);
  grid-row-gap: 5px;
  font-size: 15px;
  line-height: 20px;
}
.curr-page{
  text-decoration: underline green solid 2px;
  color: green;
}
.herb-image{
  grid-column: 2 / -2;
  overflow: hidden;
  grid-row: 2 / span 1;
  margin-bottom: 15px;
}
.herb-image img{
  height: auto;
  width: 100%;
  object-fit: scale-down;
  object-position: right;
}
.description{
grid-column: 3 / -3;
grid-row: 3 / span 1;
margin-bottom: 30px;
font-family: Arial, Helvetica, sans-serif;
color: rgb(65, 52, 34);
}
.icon-topic{
  display: inline;
  color: rgb(65, 52, 34);
}
.icon-topic i{
  vertical-align: middle;
  line-height: 35px;
}
.icon-topic span{
  font-size: 20px;
  font-weight: bold;
}
.guideline-container{
  display: flex;
  flex-wrap: wrap;
  grid-row: 4 / span 1;
  grid-column: 3 / -3;
}
.guideline{
  margin-bottom: 45px;
  flex: 100%;
}
.guideline p{
  margin-top: 15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 52, 34);
}
#sun{
  align-self: center;
  text-align: center;
}
#water{
  align-self: center;
  text-align: center;
}
#spread{
  align-self: center;
  text-align: center;
}
#height{
  align-self: center;
  text-align: center;
}
#lifespan{
  align-self: center;
  text-align: center;
}
.bulletin{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(65, 52, 34);
  padding-bottom: 20px;
}
.bulletin h2 {
  font-family: 'Sue Ellen Francisco', cursive;
  padding-bottom: 10px;
}
.tip{
  grid-column: 3 / -3;
  grid-row: 5 / span 1;
  background-image: url(../images/notebook.jpg);
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 130px;
  margin-bottom: 50px;
}
.recipe{
  grid-column: 2 / -2;
  grid-row: 6 / span 1;
}
.recipe-image{
  grid-column: 2 / -2;
  overflow: hidden;
  margin-bottom: 15px;
}
.recipe-image img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  object-position: right;
}
.recipe .bulletin {
  border: 5px solid #f2f2f2;
  border-radius: 30px;
  background-color: rgba(255, 251, 248, 0.5);
  padding: 20px 50px;
  margin-bottom: 30px;
}

/* gallery page style */
* {
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
.column {
  flex: 100%;
  max-width: 100%;
  padding: 0 10px;
}
.column img {
  vertical-align: middle;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  margin: 10px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner, 
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-color: rgb(65, 52, 34);
  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p{
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}
.flip-card a{
  color: rgb(230, 187, 122);
  background-color: rgba(255,255,255, 0.1)
}

/*contact page*/
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(70, 134, 81);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}
/* Add a background color and some padding around the form */
.container-contact {
  grid-column: 2 / -2;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


@media screen and (min-width: 600px){
  /* main page */
  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav li{
    display: inline;
  }
  nav{
    background-color: #ddd; 
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  .container{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: repeat(11, auto);
    grid-row-gap: 5px;
  }
  .mint-image{
    grid-column: 2 / span 3;
    overflow: hidden;
    grid-row: 2 / span 1;
  }
  .mint{
   grid-column: 3 / span 1;
   grid-row: 3 / span 1;
  }
  .rosemary-image{
    grid-column: 6 / span 3;
    overflow: hidden;
    grid-row: 2 / span 1;
  }
  .rosemary{
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
  }
  .parsley-image{
    grid-column: 2 / span 3;
    overflow: hidden;
    grid-row: 4 / span 1;
  }
  .parsley{
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
  }
  .sage-image{
    grid-column: 6 / span 3;
    overflow: hidden;
    grid-row: 4 / span 1;
  }
  .sage{
    grid-column: 7 / span 1;
    grid-row: 5 / span 1;
  }
  .mint-image img{
    width: 100%;
    height: auto;
  }
  .parsley-image img{
    width: 100%;
    height: auto;
  }
  .rosemary-image img{
    width: 100%;
    height: auto;
  }
  .sage-image img{
    width: 100%;
    height: auto;
  }

  /* herb page */
  .container-herb{
    display: grid;
    grid-template-columns: 1fr 1fr 5fr 5fr 1fr 1fr;
    grid-template-rows: repeat(6, auto);
    grid-row-gap: 5px;
    font-size: 18px;
    line-height: 25px;
  }
  .herb-image img{
    max-height: 500px;
    width: 100%;
    object-fit: cover;
  }
  .guideline{
    flex: 50%;
  }

  /*gallery page*/
  .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }

}

@media screen and (min-width: 1280px) {
  /*main page*/
  nav ul{
    justify-content: center;
  }
  nav li{
    margin: 0 30px;
  }

  /*herb page*/
  .container-herb{
    font-size: 20px;
    line-height: 27px;
  }
  .guideline{
    flex: 20%;
  }
  .guideline p{
    font-size: 25px;
  }
  .icon-topic i{
    line-height: 40px;
  }
  .icon-topic span{
    font-size: 25px;
  }

  /*gallery page*/
  .column {
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
  }
}


/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
@media screen and (prefers-reduced-motion: reduce){
  /*Turn off scroll*/
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  /*Turn off transition*/
  .skip a, .gallery-button, .gallery-button:hover{
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }

  /*Turn off parallax*/
  .gallery{
    background-attachment: initial;
  }

  /*Turn off animation*/
  .block-button, .block-button:hover {
    animation: initial;
  }

  /*Turn off flip*/
  .flip-card:hover .flip-card-inner,
  .flip-card:focus-within .flip-card-inner,
  .flip-card:active .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: initial;
  }
}
