
.container-gallery {
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Sue Ellen Francisco', cursive;
}

h1{
    color: rgb(65, 52, 34);
    font-size: 36px;
    line-height: 1;
    padding: 15px 0;
    text-align: center;
}

h2{
    color: rgb(65, 52, 34);
    font-size: 32px;
    line-height: 1.5;
}

nav ul{
    display: flex;
    flex-direction: column;
}

nav li{
    display: inline;
    padding-right: 20px;
}

nav{
    background-color: #ddd;
    padding: 25px 0;    
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

header p{
    color: rgb(65, 52, 34);
    font-size: 24px;
    padding: 0 100px;
    text-align: center;
    line-height: 38px;
}

footer{
    background-color: rgb(65, 52, 34);
    color: white;
    padding-top: 30px;
    text-align: center;
}

nav a{
    color: rgb(65, 52, 34);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}


.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;

    /* Requirement 3a code here*/
    position: absolute;
    top: -40px;
}

/* Requirement 3b code here*/
    .skip a:focus{
    position: absolute;
    top: 0px;
}

.back-to-main{
    text-align: left;
    margin: 5px auto 5px 15px;
  }
  .back-to-main i{
    line-height: 45px;
    vertical-align: middle;
    font-size: 15px;
  }
  .back-to-main a{
    color: rgb(65, 52, 34);
    font-weight: bold;
    text-decoration: none;
  }


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 33.3%;
  max-width: 33.3%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}